<a href="https://colab.research.google.com/github/shaarialwi/Data-analyst/blob/main/Copy_of_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "Edmund" # String
print("My name {}".format(name)) # Old method in Py2
print(f"My name {name}") # Py3
print(f'My name {name}') # Py3

My name Edmund
My name Edmund
My name Edmund

In [ ]:
students = [ "Alex", "Azhar", "Edmund" ]
print(f"students : {students}")
last_student = students.pop()
print(f"students : {students}")
print(f"last_student : {last_student}")

students : ['Alex', 'Azhar', 'Edmund']
students : ['Alex', 'Azhar']
last_student : Edmund

In [ ]:
example = [1, True, False, 0.0, "Edmund", [123], {"name":"edmund"}]
good_practice = ["Edmund", "Alex"]
DS360 = [
         {"name":"edmund", "gender":"male"},
         {"name":"edmund1", "gender":"male"},
         {"name":"edmnud2", "gender":"male"},
         {"name":"edmund3", "gender":"male"},
         {"name":"edmund4", "gender":"male"},
         {"name":"edmund5", "gender":"male"},
         {"name":"edmund6", "gender":"male"}
]

In [ ]:
for student in DS360:
  print(f"Name: {student['name']} Gender: {student['gender']}")

Name: edmund Gender: male
Name: edmund1 Gender: male
Name: edmnud2 Gender: male
Name: edmund3 Gender: male
Name: edmund4 Gender: male
Name: edmund5 Gender: male
Name: edmund6 Gender: male

In [ ]:
students = [ "Alex", "Azhar", "Edmund" ]
#               0       1         2
#               -3      -2        -1
print(students[0])

Alex

In [ ]:
print(DS360.pop()) # List
print(DS360[0]) # Dictionary
print(DS360[0]["name"])

{'name': 'edmund6', 'gender': 'male'}
{'name': 'edmund', 'gender': 'male'}
edmund

In [ ]:
# More than >
# Less Than <
# greater than or equal >=
# Less than or equal <=
# Not equal !=
# Equal ==
print(f"5 == 10 : {5 == 10}") 
print(f"5 >= 10 : {5 >= 10}")
print(f"5 <= 10 : {5 <= 10}")
print(f"5 != 10 : {5 != 10}")

5 == 10 : False
5 >= 10 : False
5 <= 10 : True
5 != 10 : True

In [ ]:
condition  = False
condition_2 = False

if condition :
  print("Condition is True")
elif condition_2 :
  print("Condition 2 is True")
else:
  print("All Conditions are False")

All Conditions are False

In [ ]:
# Empty list [] - False Condition
# Empty String "" - False Condition
# Value is 0 - False Condition
# Variable is null - False Condition

v = []

if v:
  print("There's something in the list")
else:
  print("Nothing in the list")

Nothing in the list

In [ ]:
students = [ "Alex", "Azhar", "Edmund" ]
print(len(students))

3

In [ ]:
# Start index = 0
# End index = n + 1
my_list = []
for i in range(0, 11): 
  print(f"{i} % 2 = {i % 2}")
  if i % 2 == 0:
    my_list.append(i) # Place value inside LIST
    print(my_list)

0 % 2 = 0
[0]
1 % 2 = 1
2 % 2 = 0
[0, 2]
3 % 2 = 1
4 % 2 = 0
[0, 2, 4]
5 % 2 = 1
6 % 2 = 0
[0, 2, 4, 6]
7 % 2 = 1
8 % 2 = 0
[0, 2, 4, 6, 8]
9 % 2 = 1
10 % 2 = 0
[0, 2, 4, 6, 8, 10]

In [ ]:
numbers = range(0, 100)
even = [number for number in numbers if number % 2 == 0]
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
"edmund".upper()

'EDMUND'

In [ ]:
"EDMUND".lower()

'edmund'

In [ ]:
name = ()
print(type(name))

<class 'tuple'>