<a href="https://colab.research.google.com/github/shaarialwi/Data-analyst/blob/main/DS360_Kickstart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello WOrld")

Hello WOrld

In [2]:
print(24+3)

27

In [3]:
print(20>28)

False

In [5]:
#variable are placeholder to keep /store data

name = "shaari Alwi"
age = 25
married = True
print(name, age, married)

shaari Alwi 25 True

In [7]:
print(2020-age)

1995

In [8]:
print(name.lower())

shaari alwi

In [9]:
comment = " Today is sunday"
print(comment)

 Today is sunday

Store multiple value

In [10]:
instructor_at_lead =["Lau cher han", "reuben", "edmun"]
print(instructor_at_lead)

['Lau cher han', 'reuben', 'edmun']

In [11]:
programming_language = ["python", "java", "cobol"]
print (programming_language)

['python', 'java', 'cobol']

In [12]:
instructor1 = {
    'name': 'lau cher han',
    'age': 25,
    'course_taught': 'Data Science 360'
}
instructor2 = {
    'name': 'lau cher han',
    'age': 25,
    'course_taught': 'Data Science 360'
}
instructor_at_lead = [instructor1, instructor2]
print(instructor_at_lead)

[{'name': 'lau cher han', 'age': 25, 'course_taught': 'Data Science 360'}, {'name': 'lau cher han', 'age': 25, 'course_taught': 'Data Science 360'}]

In [13]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print (numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
print(numbers[2])

3

In [15]:
print("laucherhan".upper())

LAUCHERHAN

In [16]:
#[] when you use it ias a list
number =[1,2,3,4,5]
print(number[2])

3

In [17]:
#use curly brackets for dictionaries
instructor1 = {
    'name': 'lau cher han',
    'age': 25,
    'course_taught': 'Data Science 360'
}

In [18]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for n in numbers:
  print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for n in numbers:
  print("the square of",n, "is", n**2)

the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25
the square of 6 is 36
the square of 7 is 49
the square of 8 is 64
the square of 9 is 81
the square of 10 is 100

In [26]:
exam_scores = [56,70,73,88,68,75]
Total_score = 0

for score in exam_scores:
  Total_score = Total_score + score
  print('Current score', score)
  print('---')

Average_score = Total_score / len(exam_scores)

print("The average score is", Average_score)

Current score 56
---
Current score 70
---
Current score 73
---
Current score 88
---
Current score 68
---
Current score 75
---
The average score is 71.66666666666667

In [27]:
students_score = [
                  {"name": "Alice","score":68},
                  {"name": "Ali","score":60},
                  {"name": "bakae","score":88},
                  {"name": "Tan","score":48},
]

In [32]:
passing_mark = 60

print('Student who fail:')
for student in students_score:
  if student['score'] <= passing_mark:
    print (student['name'])

Student who fail:
Ali
Tan

In [33]:
age = 40
print (age <= 40)

True

In [34]:
n = 1

while (n <=5):
  print(n)
  n = n+1

1
2
3
4
5