<a href="https://colab.research.google.com/github/shaarialwi/Data-analyst/blob/main/First01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello Worl")

Hello Worl

In [12]:
#Find student fail in exam
student_scores = [
                  {"name": "Ali", "score": 60},
                  {"name": "Abu", "score": 55},
                  {"name": "bakar", "score": 70},
                  {"name": "ahmad", "score": 40}
]
print("student who fail:")
for student in student_scores:
  if student ["score"] < 50: 
    print (student["name"],"scores", student["score"], "in the exam")

student who fail:
ahmad scores 40 in the exam