<a href="https://colab.research.google.com/github/shaarialwi/Data-analyst/blob/main/Google_drive_path.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Start by connecting gdrive into the google colab

from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [57]:
import pandas as pd
import matplotlib.pyplot as plt

In [59]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1KPGQyx1D-FdenDgNh-7PYQAjcrTKiHlc9LDkKo_zRyM/edit#gid=600916757')

In [64]:
wks = wb.worksheet('Test1')

In [66]:
data = wks.get_all_values()

In [67]:
df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

In [68]:
df.head()

0 No                           NAME  ... Practical (50%) Total (100%)
1  1      AHMAD ZULHILMI BIN ZAINAL  ...              42           88
2  2  AMIRUL AFIQ BIN KAMAL KURSHID  ...              43           85
3  3          AMIRUL ASRAF BIN ADAM  ...              43           69
4  4    ANIZAMARIAH BINTI HAJI DAUD  ...              42           92
5  5          ARIFFIN BIN MOHD ZAID  ...              37           77

[5 rows x 7 columns]